/** Always include meyerreset.css file to reset the browser specific styles and start from scratch **/

/* box-sizing for all elements */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Common Styles */

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-center-center {
  justify-content: center;
  align-items: center;
}

.box-shadow-sm {
  box-shadow: 0 0 5px var(--shadow-gray);
}

.border-radius-half-rem {
  border-radius: 0.5rem;
}

button {
  background-color: #4a7724;
  margin: 0.5rem 0;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 0 5px gray;
  cursor: pointer;
  opacity: 0.9;
  transition: ease-in 100ms;
}

button:hover {
  opacity: 1;
  box-shadow: 0 0 10px gray;
}

a {
  text-decoration: none;
  font-weight: 600;
}

/* unvisited link */
a:link {
  color: rgba(72, 118, 35, 0.9);
  opacity: 0.9;
}

/* visited link */
a:visited {
  color: green;
  opacity: 1;
}

/* mouse over link */
a:hover {
  color: rgba(72, 118, 35, 1);
  opacity: 1;
}

/* selected link */
a:active {
  color: blue;
  opacity: 1;
}

/* End of Common styles */
